.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  margin: 1rem;
  padding: 2rem;
}

.lobby {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/splashbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .new-game {
    @apply bg-gray-100 text-gray-700 text-lg font-sans font-bold border-4 border-green-400 rounded-full py-3 px-6 my-3 shadow-md;
  }
  @apply text-center text-gray-200 font-sans text-lg p-8 m-0;
}

.lobbytitle {
  font-family: cursive;
  text-shadow: 2px 2px 4px #000;
  @apply text-5xl font-bold pb-4;
}

.lobbygames {
  align-items: center;
  padding: 1rem;
}

.lobbygame {
  @apply bg-gray-100 text-gray-700 text-lg font-sans font-bold border-4 border-gray-400 rounded-full py-3 px-6 my-4 shadow-md;
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.blurred {
    filter: blur(0.25rem);
    @apply bg-gradient-to-r from-green-600 via-green-500 to-green-600;
  }
  @apply bg-gradient-to-r from-green-700 via-green-600 to-green-700 text-center select-none;
}

.seat-offering-modal-content {
  @apply rounded-lg bg-gray-100 text-gray-700 text-lg font-sans font-bold border border-green-900 p-6 my-16 mx-auto shadow-md w-6/12 content-center text-center;
}

.gamemenu-content {
  @apply rounded-lg bg-gray-100 text-gray-700 text-lg font-sans font-bold border border-green-900 p-6 my-16 mx-auto shadow-md w-6/12 content-center text-center;
}

.sit-button {
  @apply bg-green-700 text-gray-100 text-lg font-sans font-bold border border-transparent rounded-lg py-3 px-16 my-3 shadow-md;
}

// force new flexbox row
.line-break {
  width: 100%;
}

.icons {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.seat-0-icons {
  position: fixed;
  bottom: 0.7rem;
  right: 0.7rem;
}

.gamewind {
  height: 3rem;
}

#correctiontiles {
  min-width: 0;
  min-height: 0;
  #decktile {
    height: 2.8rem;
  }
}

#deck-remaining-count {
  background: #f27a00; // same color as concealed tile
  @apply text-gray-700 font-bold p-1 border-2 opacity-95 border-gray-600 rounded;
}

.walltile {
  height: 5rem;
}

.wall-tiles-1 {
  position: relative;
  left: 0.2rem;
  top: 4.8rem;
}

.tile {
  height: 5rem;
}

.largetile {
  height: 7rem;
}

.glow {
  box-shadow: 0px 0px 2rem #eee;
}

.dropzone {
  // ensure we can drag & drop into an empty list
  min-height: 7rem;
  // ensure the description boxes can be read
  min-width: 10rem;
}

.tiles, .concealed-tiles, .exposed-tiles, .hiddengong-tiles, .wintile-tiles, .wall-tiles {
  @apply flex flex-row flex-nowrap text-center justify-center;
}

#hiddengongs-0 {
  position: absolute;
  left: 0;
  .tile {
    opacity: 0.5;
  }
  &.exposed-loser-hand {
    .tile {
      opacity: 1;
    }
  }
}

#wintile-0 {
  position: absolute;
  right: 0;
  @apply largetile;
}

.dropzone-description {
  display: none;
}

.with-description {
  opacity: 0.7;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  .dropzone-description {
    position: absolute;
    top: 3rem;
    display: block;
    height: 0px; // hack because the text might interfere with dragging
    text-shadow: 2px 2px 4px #000;
    @apply text-gray-100 text-xl font-sans font-bold;
  }
}

#exposed-0 {
  min-width: 60rem;
}

#seat-0, #walltiles-0 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .tile {
    @apply largetile;
  }
}

#seat-1, #walltiles-1 {
  position: absolute;
  top: -5%;
  right: 0;
  width: 100vh;
  .tiles {
    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: top right;
  }
  .wall-tiles {
    margin-right: 5%;
  }
}

#seat-2, #walltiles-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .tiles, .player-name-container {
    transform: rotate(180deg);
  }
}

#seat-3, #walltiles-3 {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100vh;
  .tiles {
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: top left;
  }
  .wall-tiles {
    margin-left: 5%;
  }
}

.player-name-container {
  position: absolute;
  bottom: 0;
  @apply mb-5 text-center justify-center items-center;
}

.player-name {
  display: inline-block;
  opacity: 0.5;
  @apply bg-gray-100 text-gray-700 text-base font-sans font-bold border-2 border-gray-800 rounded-full py-1 px-4 shadow-md;
}

.player-icons {
  display: inline-block;
}

.firstdealer-indicator {
  @apply inline-block text-gray-100 text-xl font-light font-serif opacity-40;
}

.dealer-indicator {
  @apply inline-block text-gray-100 text-base font-extrabold opacity-50;
}

.stickpomelo {
  position: fixed;
  left: 70%;
  transform: translate(-60%, 0);
  bottom: 10%;
  max-height: 70%
}

#table-center {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
}

.pickable-wind {
  cursor: pointer;
}

.windtiles {
  .windandname {
    width: 10rem;
  }
  .tile {
    @apply largetile mx-auto;
  }
  .picked-by-name {
    overflow: hidden;
    @apply py-4;
  }
  @apply text-gray-800 text-xl font-sans font-bold flex flex-row flex-wrap content-between place-content-evenly text-center justify-center;
}

.state-description {
  text-shadow: 2px 2px 4px #000000;
  @apply text-gray-100 text-xl font-sans font-bold pb-8;
  .tile {
    display: inline-block;
    height: 3.1rem;
    margin-left: 0.7rem;
  }
  #invite-link-center {
    @apply no-text-shadow mt-12;
  }
}

.gamelog {
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  min-width: 18rem;
  max-width: 40rem;
  width: fit-content;
  right: 11rem;
  top: 5.5rem;
  max-height: 9rem;
  border-color: #aaa;
  @apply text-gray-200 text-xs flex flex-col-reverse flex-nowrap px-2 border rounded;
  .event {
    display: block;
    border-top: 1px #aaa dashed;
    white-space: nowrap;
    &:last-child {
      border-top: unset;
    }
    .tile, .icon {
      display: inline-block;
      margin-left: 0.2rem;
    }
    .tile {
      height: 1.4rem;
    }
  }
}

.hand {
  position: fixed;
  cursor: not-allowed;
  display: block;
  font-size: 12rem;
}

.hand-0 {
  display: inline-block;
  bottom: 0;
  right: 22%;
  cursor: pointer;
  transform: rotate(45deg);
}

.hand-1 {
  right: 0;
  top: 7rem;
}

.hand-2 {
  width: 100%;
  top: -4rem;
  text-align: center;
  font-size: 10rem;
  padding-right: 20rem;
}

.hand-3 {
  top: 7rem;
}

#dicecomponent {
  display: block;
  width: 100%;
  margin-top: 5rem;
}

.die {
  display: inline-block;
  margin: 0 1rem 0 1rem;
  max-height: 6rem;

  &.rolling_for_deal-0 {
    animation: dieanimation-0-v1 1s linear;
  }
  &.discarding-0 {
    animation: dieanimation-0-v2 1s linear;
  }
  &.rolling_for_deal-1 {
    animation: dieanimation-1-v1 1s linear;
  }
  &.discarding-1 {
    animation: dieanimation-1-v2 1s linear;
  }
  &.rolling_for_deal-2 {
    animation: dieanimation-2-v1 1s linear;
  }
  &.discarding-2 {
    animation: dieanimation-2-v2 1s linear;
  }
  &.rolling_for_deal-3 {
    animation: dieanimation-3-v1 1s linear;
  }
  &.discarding-3 {
    animation: dieanimation-3-v2 1s linear;
  }
}

.die-1 {
  position: relative;
  top: -4rem;
}

.die-2 {
  position: relative;
  top: -1rem;
}

// each animation has a clone for each additional game state because otherwise
// it won't reanimate when the game state changes (CSS thinks it's the same
// element)
@for $i from 1 through 2 {
  @keyframes dieanimation-0-v#{$i} {
    0% { transform: translate(20rem, 50rem) rotate(0deg); }
    50% { transform: translate(2rem, 10rem) rotate(450deg); }
    90% { transform: translate(0.2rem, 0.5rem) rotate(720deg); }
    100% { transform: translate(0, 0) rotate(720deg); }
  }
  @keyframes dieanimation-1-v#{$i} {
    0% { transform: translate(50rem, -25rem) rotate(0deg); }
    45% { transform: translate(10rem, 0rem) rotate(-450deg); }
    90% { transform: translate(0.5rem, 0) rotate(-720deg); }
    100% { transform: translate(0, 0) rotate(-720deg); }
  }
  @keyframes dieanimation-2-v#{$i} {
    0% { transform: translate(-10rem, -40rem) rotate(0deg); }
    45% { transform: translate(-3rem, -10rem) rotate(450deg); }
    90% { transform: translate(-0.2rem, -1rem) rotate(720deg); }
    100% { transform: translate(0, 0) rotate(720deg); }
  }
  @keyframes dieanimation-3-v#{$i} {
    0% { transform: translate(-30rem, -10rem) rotate(0deg); }
    45% { transform: translate(-10rem, 0) rotate(450deg); }
    90% { transform: translate(-0.5rem, 0) rotate(720deg); }
    100% { transform: translate(0, 0) rotate(720deg); }
  }
}

// using a variable because these are used by the normal CSS and the animations
$discard-rotations: ("0": rotate(12deg), "1": rotate(-20deg), "2": rotate(-40deg), "5": rotate(50deg), "6": rotate(-24deg), "7": rotate(73deg), "8": rotate(30deg), "firstchild": rotate(14deg));
$discard-childnos-without-rotations: 3, 4;

#discards {
  position: fixed;
  top: 2rem;
  bottom: 14rem;
  left: 11rem;
  right: 11rem;
  padding-bottom: 6rem;
  @apply flex flex-row flex-wrap place-content-center justify-start space-y-32 dropzone;
  .tile {
    cursor: not-allowed; // overridden by dglow classes
    height: 2.5rem;
    position: relative;
    // make the discarded tiles appear scrambled
    &:nth-child(9n+0) {
      top: 0.6rem;
      transform: map-get($discard-rotations, "0");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "0") !important;
      }
    }
    &:nth-child(9n+1) {
      top: -2rem;
      left: 0.6rem;
      transform: map-get($discard-rotations, "1");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "1") !important;
      }
    }
    &:nth-child(9n+2) {
      top: 4rem;
      transform: map-get($discard-rotations, "2");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "2") !important;
      }
    }
    &:nth-child(9n+3) {
      top: -1.2rem;
    }
    &:nth-child(9n+4) {
      top: 4rem;
    }
    &:nth-child(9n+5) {
      top: -1.5rem;
      left: 0.5rem;
      transform: map-get($discard-rotations, "5");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "5") !important;
      }
    }
    &:nth-child(9n+6) {
      top: 2rem;
      transform: map-get($discard-rotations, "6");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "6") !important;
      }
    }
    &:nth-child(9n+7) {
      top: 5.0rem;
      left: 0.5rem;
      transform: map-get($discard-rotations, "7");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "7") !important;
      }
    }
    &:nth-child(9n+8) {
      top: -2.5rem;
      transform: map-get($discard-rotations, "8");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "8") !important;
      }
    }
    // not sure why but space-y-32 (which provides good spacing when new rows
    // are created) makes the first child appear way off to the upper left
    &:first-child {
      top: 7rem;
      left: 0;
      transform: map-get($discard-rotations, "firstchild");
      &.sortable-ghost {
        transform: map-get($discard-rotations, "firstchild") !important;
      }
    }
    &.sortable-ghost {
      animation: none;
    }
  }
}

$discard-animation-translates: (
  "1": translate(80vw, 0),
  "2": translate(0, -80vh),
  "3": translate(-80vw, 0)
);

@each $seatno, $translate in $discard-animation-translates {
  @each $i, $rotate in $discard-rotations {
    @keyframes discardanimation-#{$seatno}-#{$i} {
      0% { transform: #{$translate} rotate(0); }
      100% { transform: translate(0, 0) #{$rotate}; }
    }
  }
  // animation for tiles with no rotations
  @keyframes discardanimation-#{$seatno} {
    0% { transform: #{$translate} rotate(0); }
    100% { transform: translate(0, 0); }
  }
}

.draggable {
  cursor: move;
}

.sortable-ghost {
  @apply opacity-70;
}

#peektile-0 {
  position: fixed;
  right: 10%;
  bottom: 8rem;
  height: 13rem;
  width: 12rem;
  @apply dropzone flex justify-center bg-green-600 bg-opacity-50 border-4 border-gray-800 rounded-full shadow-xl;
  .tile {
    margin: auto;
    @apply largetile;
  }
}

.confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.concealed-loser-hand-t {
  opacity: 0.5;
}

#winmenu {
  position: absolute;
  width: 100%;
  left: 0;
}

#winmenu-inner {
  @apply inline-block rounded-lg bg-gray-100 text-gray-700 text-lg font-sans font-bold border border-green-900 p-2 px-8 mt-2 mx-auto shadow-md content-center text-center cursor-move;
  .tile {
    cursor: not-allowed;
  }
}

#winmenu-inner {
  max-width: 80%;
  .tile {
    height: 3.1rem;
  }
}

.no-text-shadow {
  text-shadow: none;
}

.dealpickstaircase {
  height: 1.2rem;
}

.dealer-indicator, .firstdealer-indicator {
  text-shadow: 1px 1px 2px #000;
}

.turn-glow-t {
  opacity: 1;
  box-shadow: 0px 0px 2rem #eee;
  background-color: #eee;
}

.turn-glow-0-t {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
}

.game-url {
  @apply text-gray-800 bg-white ml-3 mr-1 px-1;
}

#undo, #pausebots, #resumebots, .addbot {
  @apply bg-gray-300 hover:bg-gray-200 text-gray-700 text-base font-sans font-bold border-2 border-gray-800 shadow-md py-1 px-4 font-bold border-2 border-gray-400 cursor-pointer rounded-xl;
}

.addbot {
  display: inline-block;
}

$tile-types: b1, b2, b3, b4, b5, b6, b7, b8, b9, c1, c2, c3, c4, c5, c6, c7, c8, c9, n1, n2, n3, n4, n5, n6, n7, n8, n9, df, dp, dz, we, ws, ww, wn;
@each $tile-type in $tile-types {
  @for $i from 0 through 3 {
    .glow-#{$tile-type}-#{$i} ##{$tile-type}-#{$i} {
      @apply glow;
    }
    .dglow-#{$tile-type}-#{$i} ##{$tile-type}-#{$i} {
      @apply glow draggable cursor-move;
    }
    @for $seatno from 1 through 3 {
      #discards.dglow-#{$tile-type}-#{$i}.discardedby-#{$seatno} {
        @each $childno, $transform in $discard-rotations {
          .tile:nth-child(9n+#{$childno})##{$tile-type}-#{$i} {
            animation: discardanimation-#{$seatno}-#{$childno} 1s ease;
          }
        }
        @each $childno in $discard-childnos-without-rotations {
          .tile:nth-child(9n+#{$childno})##{$tile-type}-#{$i} {
            animation: discardanimation-#{$seatno} 1s ease;
          }
        }
        .tile:first-child##{$tile-type}-#{$i} {
          animation: discardanimation-#{$i}-firstchild 1s ease;
        }
      }
    }
  }
}

$small-width: 45rem;
$med-width: 67rem;

@media (max-width: $small-width)  {
  .tile {
    height: 1.5rem;
  }
  .walltile {
    height: 1.5rem;
  }
  .wall-tiles-1 {
    top: 1.8rem;
  }
  .largetile {
    height: 2.6rem;
  }
  #peektile-0 {
    bottom: 6rem;
    height: 5rem;
    width: 4rem;
  }
  .dropzone {
    min-height: 2.6rem;
    min-width: 2rem;
  }
  #exposed-0 {
    min-width: 22rem;
  }
  #discards {
    top: 0.5rem;
    bottom: 6rem;
    left: 3.2rem;
    right: 3.2rem;
    padding-bottom: 4rem;
    .tile {
      height: 1rem;
    }
  }
  .game-url {
    font-size: 0.5rem;
  }
  .gamelog {
    display: none;
  }
  .gamemenu-content, .seat-offering-modal-content {
    width: 100%;
  }
  #seat-0 {
    bottom: 3rem;
  }
  #seat-2 {
    .player-name-container {
      right: 0;
    }
  }
  .icons {
    top: 0;
  }
  .with-description {
    .dropzone-description {
      display: none;
    }
  }
  #table-center {
    top: 2rem;
  }
  .hand {
    font-size: 6rem;
  }
  #dicecomponent {
    margin-top: 5rem;
  }
  .die {
    margin: 0 0.4rem 0 0.4rem;
    max-height: 3rem;
  }
  .player-name-container {
    @apply mb-0;
  }
  .player-name {
    font-size: 0.5rem;
    line-height: 1rem;
    @apply border py-0 px-2 rounded-lg;
  }
  .firstdealer-indicator {
    @apply text-xs;
  }
  .dealer-indicator {
    font-size: 0.5rem;
    line-height: 1rem;
  }
  .windtiles {
    .windandname {
      width: 5rem;
    }
    @apply text-xs;
  }
  .hand-2 {
    top: -1.5rem;
  }
  #undo, #pausebots, #resumebots, .addbot {
    @apply text-xs py-1;
  }
}

@media (min-width: $small-width) and (max-width: $med-width) {
  .tile {
    height: 4rem;
  }
  .walltile {
    height: 4rem;
  }
  .wall-tiles-1 {
    top: 3.8rem;
  }
  .largetile {
    height: 5rem;
  }
  #peektile-0 {
    bottom: 6rem;
    height: 9rem;
    width: 8rem;
  }
  .dropzone {
    min-height: 5rem;
    min-width: 5rem;
  }
  .with-description {
    .dropzone-description {
      top: 1rem;
      @apply text-base;
    }
  }
  #exposed-0 {
    min-width: 38rem;
  }
  #discards {
    top: 2rem;
    bottom: 10rem;
    left: 8.5rem;
    right: 8.5rem;
    padding-bottom: 4rem;
    .tile {
      height: 1.8rem;
    }
  }
  .game-url {
    font-size: 0.7rem;
  }
  .gamelog {
    min-width: 12rem;
    max-width: 18rem;
    max-height: 6rem;
    right: 9rem;
    top: 5rem;
    font-size: 0.7rem;
    .event {
      .tile, .icon {
        margin-left: 0.1rem;
      }
      .tile {
        height: 1rem;
      }
    }
  }
  #table-center {
    top: 4rem;
  }
  .hand {
    font-size: 8rem;
  }
  .die {
    margin: 0 0.5rem 0 0.5rem;
    max-height: 4rem;
  }
  .player-name-container {
    @apply mb-3;
  }
  .windtiles {
    @apply text-base;
    .windandname {
      width: 8rem;
    }
  }
}
