<div id="<%= @id %>" class="phx-modal" phx-target="#game" phx-click="closegamemenu">
  <div class="gamemenu-content rounded-lg bg-gray-100 text-gray-700 text-lg font-sans font-bold border border-green-900 p-6 my-16 mx-auto shadow-md w-6/12 content-center text-center">

    <%= if @player_seats_finalized do %>
      <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer my-4">
        <div phx-target="#<%= @id %>, #game" phx-click="draw">
          Declare draw 🤝
        </div>
      </div>

      <div id="dqs" phx-hook="DeclareDq" phx-click="">
        <div id="declare-dq-btn" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer my-4">
          Declare DQ 🙅‍♀️
        </div>

        <div class="dqplayer opacity-30 bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-default my-4 hidden">
          Declare DQ 🙅‍♀️
        </div>

        <%= for seat <- @relative_game_seats |> Enum.slice(1..-1) do %>
          <div class="dqplayer bg-red-600 hover:bg-red-500 text-gray-200 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer my-4 hidden" phx-target="<%= @myself %>" phx-click="dq" phx-value-seatno="<%= seat.seatno %>">
            <%= seat.player_name %> 🙅‍♀️
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer my-4">
      <div phx-target="<%= @myself %>" phx-click="quit">
        Leave game
      </div>
    </div>

    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer my-4">
      <div phx-target="<%= @myself %>" phx-click="reset">
        Reset game
      </div>
    </div>

    <div phx-click="">
      <%= live_component @socket, MjwWeb.GameLive.InviteLinkComponent, id: "invite-link-gamemenu", game: @game %>
    </div>
  </div>
</div>
