<%= if @player_seat.winreaction in [:ok, :expose_ok] do %>
  <div class="state-description">
    Waiting for the other players to proceed...
  </div>
<% else %>
  <div id="<%= @id %>">
    <div class="menucontainer inline-block rounded-lg bg-gray-100 text-gray-700 text-lg font-sans font-bold border border-green-900 p-2 px-8 mt-2 mx-auto shadow-md content-center text-center">

      <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-pointer my-4" phx-target="#game" phx-click="confirm_win">
        Okay, let's start shuffling... 👋
      </div>

      <%= if @player_seat.winreaction == :expose do %>
        <div class="opacity-30 bg-white text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-default my-4">
          Expose hand
        </div>
      <% else %>
        <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-pointer my-4" phx-target="#game" phx-click="expose">
          Expose hand
        </div>
      <% end %>

      <%= if @showdeck do %>
        <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-pointer my-4" phx-target="<%= @myself %>" phx-click="hidedeck">
          Hide remaining deck
        </div>

        <div class="flex flex-row flex-wrap text-left justify-start justify-items-start">
          <span class="pr-1">&#8594;</span>
          <%= for tile <- @game.deck do %>
            <% tile_code = tile |> String.slice(0..1) %>
            <img id="<%= tile %>" src="/images/tiles/<%= tile_code %>.png" alt="<%= tile_code %>" class="tile" />
          <% end %>
        </div>
      <% else %>
        <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-pointer my-4" phx-target="<%= @myself %>" phx-click="showdeck">
          View remaining deck
        </div>
      <% end %>

      <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-8 border border-gray-400 rounded shadow cursor-pointer my-4" phx-target="#game" phx-click="dqdeclared">
        Declare DQ 🙅‍♀️
      </div>
    </div>
  </div>
<% end %>
